/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 	color: blue; 
	font-size: px;
 	margin: 0;
 	font-family: Arial, Sans-serif;
}
