/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
 	color: #13009a; 
	font-size: 10px;
 	margin: 0;
	font-family: Helvetica;
 	text-transform: uppercase;
 	text-align: center;
 	line-height: 20px;
}

/*.results {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
}*/

.player {
  display: none;
  width: 80%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
}

#main{
 	max-height: 600px;
 	width: 250%;
	border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#name{
	padding-top: 10%;
	width: 100%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#name > img{
    display: block;
    margin: auto;
    width: 80%;
    max-width: 200px;
    top: 0px;
	border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#fwdycf{
	display: inline-block;
	vertical-align: top;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#age{
	display: inline-block;
	vertical-align: top;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#school{
}
#oncpiwco{
	padding-top: 5%;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#tywtd{
}
#sasl{
	padding-top: 25%;
	font-weight: bold;
	font-size: 12px;
	line-height: 5px;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
.red-underline{
	float: left;
	width: 80%;
	position: relative;
	text-align: center;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
.red-underline img{
	width: 60%;
	margin: auto;
	display: block;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#side-img2{
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#side-img2 img{
	height: 50%;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}

#home-sec3{
	float: left;
	position: relative;
	max-width: 294px;
 	max-height: 598px;
 	width: 100%;
 	height: 100%;
	display: inline-block;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
/*----------------------------------------page2-------------------------------------------*/

#side-img3{
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#side-img3 img{
	height: 100%;
}
.results{
	position: relative;
	max-width: 294px;
 	max-height: 598px;
 	width: 100%;
 	height: 100%;
	display: none;
	float: left;
	background: #FFF;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
/*----------------------------------------page1-------------------------------------------*/
.player{
	color:black;
}
#home-sec{
	max-width: 294px;
 	max-height: 598px;
 	width: 100%;
 	height: 100%;
	display: inline-block;
	float: left;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#main-nemu{
	position: relative;
}
#side-img{
	float: left;
	width: 20%;
	height: 100%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#side-img img{
	height: 100%;
}
#Adventurer{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#Adventurer img{
	width: 50%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#Foodie{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#Foodie img{
	width: 50%;
	position: relative;
		border-color: pink;
 	border-width: 1px;
 	border-style: solid;
}
#DogLover{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
}
#DogLover img{
	width: 50%;
	position: relative;
}
#Traveler{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
}
#Traveler img{
	width: 50%;
	position: relative;
}
#Fishmen{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
}
#Fishmen img{
	width: 50%;
	position: relative;
}
#Artist{
	padding-top: 15px;
	height: 20%;
	position: relative;
	text-align: center;
}
#Artist img{
	width: 50%;
	position: relative;
}
